<section class="posts clearfix">
<div class="posts-wrapper">
        <article class="post article-entry">
            <div class="post-title">
                Welcome
            </div>
            <div class="post-content">
                <p>Welcome to Process Safety Relief. A quick reference for Process Safety Management and releated items.</p>

                <p>This is an open source project. If you would like to help out, merge requests are welcome on <a href="https://gitlab.com/kendallcorner/kendallcorner.gitlab.io/">gitlab</a></p>
            </div>
        </article>
</div>
    <%- partial('_partials/posts') %>
</section>
<%- partial('_partials/paginator') %>