<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%- css('styles/main') %>
<script src="https://kit.fontawesome.com/8045f29e9d.js"></script>