<div class="side-bar">


    <div class="avator" id="avator">
        <i class="fa fa-8x fa-fire" style="color:#168744;"></i>
        <div class="icon-list">
        <a href="<%= theme.site %>" target="_blank"><i class="iconfont icon-rss icon-item"></i></a>
        <a href="<%= theme.email %>" target="_blank"><i class="iconfont icon-email icon-item"></i></a>
        </div>
    <%- partial('_partials/tags') %>
    </div>
</div>