.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border-bottom: 1px solid #eee;


  .post-archive {
    list-style: none;
    padding: 0;

    .collect-year {
      font-size: 20px;

      .post-date {
        display: inline-block;
        margin-right: 10px;
        color: #BABABA;
      }

      .post-title {
        color: #368CCB;
        text-decoration: none;
      }
    }
    .collect-item {
      border-left: 1px solid #cacaca;
      margin-left: 2px
      .time{
        font-size: 15px;
        color: #cacaca;
        margin-left: 25px;}
      .title{
        color: #34495e;
        margin-left: 25px;
        &:hover{
          color:	#1E90FF;}
         
      }
      &:hover {
        transition: .2s ease-out;
        transform: translateX(5px);
        border-left: 2px solid 	#168744;}
  }
}}