.post-content {
      a:hover {
      background-color: 	#C0C0C0
      border-radius: 3px
    }

    font-family: 'Merriweather';
    vertical-align: middle;
    @for $i from 1 through 6 {
    h#{$i} {
      font-size: 1.3em;
      font-weight: 400;
      margin-top: 1.2em;
    }

    }
    h1 {
        font-size: 2.0em;
    }
    h2 {
      font-family: "Open Sans";
    }
    h3 {
      font-family: "Open Sans";
    }
    .header-link {
        }
    blockquote {
        padding: 0 30px;
        border-top: 1px solid #eee; 
        margin: 30px auto auto auto;
    }
    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        position: relative;
    }
    > table {
    max-width: 100%;
    margin: 10px 0;
    border-spacing: 0;

    th, td {
      padding: 5px 15px;
      border: 1px double $content-table-border-color;
      text-align: left;
    }
  }
  ul {
      list-style-type: disc;
      position: relative;
      left: 30px;
      margin: 12px;
  }
  ol {
    position: relative;
    left: 30px;
    margin: 12px;
  }

}