@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face
{
    font-family: "Open Sans";
    src: url('https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2');
}
@font-face
{
    font-family: "Merriweather";
    src: url('https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZM.woff2');
}
header {
    display: block;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
    height: 65px;
    background: #fafafa
    line-height: 65px;
    font-family: 'Open Sans';
    .title {
        float: left;
        position: relative;
        font-size: 26px;
        font-family: "Open Sans";
}
    .site-nav {
        float: right;
        margin-right: -12px;
        .menu{
            display: block;
            position: relative;
            font-family: "Open Sans";
            padding-left: 0;
            padding-right: 0px;
            .menu-item {
                display: inline-block;
                margin-right: 15px;
                font-size: 16px;
            }}}
}
header:before, header:after {
    content: " ";
    display: table;
}
header:after {
    clear: both;
}
