.side-bar {
    a {
    color: #808080
        }
    float: left
    .title {
        color: grey
        font-family: 'Open Sans';
        
        margin: 15px 0
}
    .avator {
        position: absolute
        top: 150px
        margin-left: 54px
        border-top: 1px solid #eee
        .ava-img{
            max-width: 200px;
            max-height: 200px;
            border-radius: 3px;
        }
        .author {
            margin: 2px 0;
            color: #808080
            font-size: 25px}
        .icon-list {
            display: flex
            justify-content: flex-start
            border-top: 1px solid #eee
            .icon-item {
                width: 10px
                height: 10px
                margin: 4px 25px 4px 2px}
            }
        }
}
@media only screen and (max-width: 750px) {
  #avator {
    display: none; }
  .posts-wrapper {
    width: 100%; }
    ._toc {
    display: none;}
    }
    
