._toc {
    position: absolute
    top: 203px
    width: 200px
    margin-left: 1040px
    border-left: 1px solid #eee
    padding-left: 9px
    .toc-title {
        &:before {
            font-family: "FontAwesome"
            content: "\f02c"
            margin-right: 0.5em}}
    .toc-content {
        margin-left: 22px
        li {
            list-style: disc

        }}

    }
        .active {
        background: #e5e9ef
        border-radius: 1px
        box-shadow: 1px 1px 1px #ddd
        }
